<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_VIPMembership>
            <version>0.0.4</version>
        </Meanbee_VIPMembership>
    </modules>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <meanbee_vipmembership>
                        <type>singleton</type>
                        <class>Meanbee_VIPMembership_Model_Observer</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </meanbee_vipmembership>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_order_status_history_save_after>
                <observers>
                    <meanbee_vipmembership>
                        <type>singleton</type>
                        <class>Meanbee_VIPMembership_Model_Observer</class>
                        <method>salesOrderStatusHistorySaveAfter</method>
                    </meanbee_vipmembership>
                </observers>
            </sales_order_status_history_save_after>
        </events>
    </frontend>
    <global>
        <events>
            <sales_order_status_history_save_after>
                <observers>
                    <meanbee_vipmembership>
                        <type>singleton</type>
                        <class>Meanbee_VIPMembership_Model_Observer</class>
                        <method>salesOrderStatusHistorySaveAfter</method>
                    </meanbee_vipmembership>
                </observers>
            </sales_order_status_history_save_after>
        </events>
        <blocks>
            <meanbee_vipmembership>
                <class>Meanbee_VIPMembership_Block</class>
            </meanbee_vipmembership>
        </blocks>
        <models>
            <meanbee_vipmembership>
                <class>Meanbee_VIPMembership_Model</class>
            </meanbee_vipmembership>
        </models>
        <helpers>
            <meanbee_vipmembership>
                <class>Meanbee_VIPMembership_Helper</class>
            </meanbee_vipmembership>
        </helpers>
        <resources>
            <meanbee_vipmembership_setup>
                <setup>
                    <module>Meanbee_VIPMembership</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </meanbee_vipmembership_setup>
            <meanbee_vipmembership_customer_setup>
                <setup>
                    <module>Meanbee_VIPMembership</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </meanbee_vipmembership_customer_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <vip translate="label" module="meanbee_vipmembership">
                        <label>VIP Membership Product</label>
                        <model>meanbee_vipmembership/product_type</model>
                        <is_qty>0</is_qty>
                        <composite>0</composite>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </vip>
                </type>
            </product>
        </catalog>
    </global>
    <crontab>
        <jobs>
            <meanbee_vipmembership>
                <schedule>
                    <cron_expr>0 12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>meanbee_vipmembership/observer::checkVIPMemberships</model>
                </run>
            </meanbee_vipmembership>
        </jobs>
    </crontab>
    <default>
        <vipmembership_config>
            <vipmembership_general>
                <order_status>complete</order_status>
                <recurring_profile_status>active</recurring_profile_status>
            </vipmembership_general>
        </vipmembership_config>
    </default>
</config>
